<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="config_file" default="$(find maplab_features)/config/lidar_image.yaml"/>
  <arg name="node_name"   default="lidar_image"/>
  <node name="$(arg node_name)" pkg="maplab_features" type="lidar_image_interface.py" output="screen" respawn="true">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>
</launch>
